# Arquivos de Build
#########################
build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.xcmappingmodel
*.xccheckout
*.moved-aside
DerivedData/
.DS_Store
.svn
.gitattributes
.build/
.swiftpm/

# Arquivos do Xcode
#########################

# Caches de Módulos (DerivedData)
DerivedData/

# Arquivos de usuário e interface
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Workspaces e Project.xcworkspace
*.xcworkspace/
!default.xcworkspace

# Arquivos de Interface de Usuário
xcuserdata/